@model ArticleViewModel

@{ ViewBag.ContainerClassName = "article"; }

@section head {
    <link href="/article.min.css" rel="stylesheet" asp-append-version="true" />
}

<h1>@Model.Title</h1>

<span class="article-published-at" title="Published:">
    @Model.PublishedAt.ToShortDateString()
    @if( Model.ModifiedAt != DateTime.MinValue && Model.ModifiedAt != Model.PublishedAt )
    {
        <span class="article-updated-at" title="Last edited:">@Model.ModifiedAt.ToShortDateString()</span>
    }
</span>

@if( Model.HeroImageUrl != null )
{
    <img class="article-hero" src="@Model.HeroImageUrl" />
}

<section class="article-content">@Html.Raw( Model.Content )</section>

@section scripts {
    <script src="/article.min.js" asp-append-version="true"></script>
}

@await Component.InvokeAsync( "Author", new { authorGuid = Model.AuthorGuid } )