@using BizStream.AspNetCore.Components.Metadata
@using BizStream.AspNetCore.Components.OpenGraph
@using BizStream.AspNetCore.Components.Schema

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @( await Component.InvokeAsync<MetadataComponent>( ) )
    @( await Component.InvokeAsync<OpenGraphComponent>( ) )
    @( await Component.InvokeAsync<SchemaComponent>( ) )

    <link href="/master.min.css" rel="stylesheet" asp-append-version="true" />
    @await RenderSectionAsync( "head", required: false )
</head>

<body class="@ViewBag.ContainerClassName">
    <main role="main">
        @RenderBody()
    </main>

    <script src="/master.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync( "scripts", required: false )
</body>

</html>
